/* STYLE FOR SMALL SCREENS */

@media screen and (max-width: 700px) {
    .text-box h1{
        font-size: 42px;
    }
    .text-box p{
        font-size: 12px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: flex;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    /* COURSE SECTION */
    .row {
        flex-direction: column;
    }
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
    .cta h1 {
        font-size: 32px;
    }
}